<style>
    details {
      border-radius: 5px;
      margin-bottom: 0px;
      transition: height 0.3s ease-out; /* Smooth transition */
    }

    summary {
      cursor: pointer;
      font-weight: bold;
      padding: 10px;
      display: block; /* Ensure summary is a block-level element */
    }

    summary::before {
      content: ''; /* Empty content */
      display: inline-block;
      width: 10px; /* Adjust this value as needed */
    }

    details p {
      margin-left: 0px;
      padding-left: 0px;
      border-left: 0px solid rgba(0, 0, 0, 0.8);
    }
 
  </style>